.dogLogo {
  width: 28px;
  height: 22px;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav ul li a {
  color: var(--color-primary);
}

.loginCadastro::after {
  content: "";
  display: inline-block;
  margin-left: 0.5rem;
  width: 14px;
  height: 17px;
  position: relative;
  top: 2px;
  background: url("../../assets/usuario.svg") no-repeat center center;
}

.header {
  position: fixed;
  background-color: #fff;
  z-index: 100;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
